%h1.page-title Our Menu


-@menu_items.each do |item|
	.item
		%i.fa.fa-cutlery
		.title
			%h3= item.name
		.price
			%h3$#{item.price}
		%h4.description
			= item.name.capitalize+" Ingredients"
			%ul.ingredients-list
				-item.ingredients.each do |ingredient|
					%li=ingredient.name
		%hr
		

/ =form_for @menu_item do |f|
/ 	=f.label "Menu Item"
/ 	=f.text_field :menu_item

/ 	=f.submit "Go!"


